* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 8fr;
  height: 100vh;
}

.container div {
  padding: 10px;
  font-family: Helvetica;
}

.sidebar {
  background-color: #003060;
  display: grid;
  grid-template-rows: 1fr 6fr 6fr;
  grid-row: 1 / 3;
  font-weight: bold;
  font-size: large;
  color: #f6f6f6;
}

.main-logo {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: transparent;
}

.icon {
  width: 45px;
}

.nav {
  align-self: flex-start;
}

.settings {
  align-self: flex-start;
}

.sidebar li {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  text-align: left;
}

ul,
li {
  display: grid;
  align-content: center;
  justify-content: left;
  gap: 15px;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.search {
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.search-box {
  border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  width: 80%;
  padding: 2px 10px 2px 10px;
  outline: 0;
  background-color: #f5f5f5;
  align-self: center;
}

.top-icon {
  width: 25px;
  justify-self: right;
  align-self: center;
}

.profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 25px;
  font-size: large;
  font-weight: 700;
}

.profile-pic {
  object-fit: cover;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.profile-pic-team {
  object-fit: cover;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  justify-self: flex-end;
}

.headerTools {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  align-items: center;
  gap: 25px;
}

button {
  color: #f6f6f6;
  background-color: #003060;
  border-radius: 15px;
  border-width: 0px;
  height: 35px;
  font-weight: 700;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #d1d5db;
  text-align: left;

}

.projects {
  display: grid;
  grid-template-rows: 1fr 12fr;

}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr repeat(3 3fr);
  gap: 50px;
}

.project-title {
  grid-column: 1 / 3;
}

.card {
  background-color: #fafafa;
  border-width: 0px 0px 0px 10px;
  border-style: solid;
  border-color: #00c2cb;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px grey;
  display: grid;
  grid-template-rows: .5fr 3fr .5fr;
  grid-template-columns: 4fr 1fr;
  padding: 5px;
  max-height: 25vh;
}

.card-description {
  grid-column-start: 1;
  grid-column-end: 3;
}

.card-settings {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 15px;
}

.card-icon {
  width: 25px;
  justify-self: end;
}

.card p {
  font-weight: 400;
}

.todo-items {
  background-color: #fafafa;
  border-width: 0px 0px 0px 10px;
  border-style: solid;
  border-color: #00c2cb;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px grey;
  display: grid;
  grid-template-rows: 1fr 1fr 8fr;
  grid-template-columns: 4fr 1fr;
  padding: 5px;
  width: 80%;
}

.todo-list {
  grid-column-start: 1;
  grid-column-end: 3;
  gap: 15px;
}

.todo-list-item {
  background-color: #f6f6f6;
  border-width: 0px 0px 0px 10px;
  border-style: solid;
  border-color: #003060;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px grey;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 1fr;
  padding: 5px;
  margin: 10px;
  max-height: 10vh;
  justify-items: left;
  align-items: center;
}

.todo-complete {
  width: 25px;
  height: 25px;
}

.new-todo {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  color: #f6f6f6;
  background-color: #003060;
  border-radius: 15px;
  border-width: 0px;
  height: 35px;
  font-weight: 700;
}

.other-projects {
  display: grid;
  grid-template-rows: 1fr 8fr 1fr 8fr;
  gap: 15px;
}

.announcements,
.trending {
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px grey;
}

.announcements ul {
  display: grid;
  grid-template-rows: auto;
  font-size: 14px;
  padding: 10px;
}

.trending {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: left;
  align-items: center;
}